@font-face {
               font-family: Montserrat-Bold;
               font-display: swap;
               src: url("../fonts/Montserrat-Bold.woff") format("woff"),
              url("../fonts/Montserrat-Bold.ttf") format("ttf");
               font-weight: 700;
               font-style: normal;
             }

@font-face {
               font-family: Montserrat-Regular;
               font-display: swap;
               src: url("../fonts/Montserrat-Regular.woff") format("woff"),
               url("../fonts/Montserrat-Regular.ttf") format("ttf");
               font-weight: 700;
               font-style: normal;
             }